* {
    box-sizing: border-box;
    margin: 10px;
}

body {
    background-color: pink;

}

nav {
    font-family: 'Darumadrop One', cursive;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

nav button {
    background-color: white;
    cursor: pointer;
    font-family: 'Darumadrop One', cursive;
    font-size: 20px;
}

header {
    text-align: center;
    margin-top: 50px;
    font-family: 'Darumadrop One', cursive;
}

header button {
    background-color: white;
    font-family: 'Darumadrop One', cursive;
    font-size: 20px;
    cursor: pointer;
}

main {}

h2 {
    text-align: center;
    font-family: 'Darumadrop One', cursive;
}

.quiz {}

.quiz-title {}

ul {
    list-style-type: none;
    padding: 5px;
    text-align: center;
}

ul li {
    font-family: 'Darumadrop One', cursive;
    font-size: 16px;
}

ul li label {
    cursor: pointer;
}

.finish {

    text-align: center;
    font-family: 'Darumadrop One', cursive;
}

section button {
    font-family: 'Darumadrop One', cursive;
    background-color: white;
}

.highscores ul {}